 通过frp 穿透连接 ipsec 失败

frp 网络穿透到家庭的windows虚机（桥接网络）
- 网络
```
内网192.168.4.0/24 内网路由器网段
公网通过 frp 穿透后连接 ipsec 
```
- docker容器启动 ipsec windows10 客户端能正常连接
/var/log/pluto.log
```
Feb  5 20:21:59.855545: "l2tp-psk"[1] 172.17.0.1 #1: responding to Main Mode from unknown peer 172.17.0.1:64392
Feb  5 20:21:59.855626: "l2tp-psk"[1] 172.17.0.1 #1: Oakley Transform [AES_CBC (256), HMAC_SHA1, DH20] refused
Feb  5 20:21:59.855632: "l2tp-psk"[1] 172.17.0.1 #1: Oakley Transform [AES_CBC (128), HMAC_SHA1, DH19] refused
Feb  5 20:21:59.855680: "l2tp-psk"[1] 172.17.0.1 #1: sent Main Mode R1
Feb  5 20:22:00.096312: "l2tp-psk"[1] 172.17.0.1 #1: sent Main Mode R2
Feb  5 20:22:00.293572: "l2tp-psk"[1] 172.17.0.1 #1: Peer ID is ID_IPV4_ADDR: '192.168.43.83'
Feb  5 20:22:00.293613: "l2tp-psk"[1] 172.17.0.1 #1: switched from "l2tp-psk"[1] 172.17.0.1 to "l2tp-psk"
Feb  5 20:22:00.293627: "l2tp-psk"[1] 172.17.0.1: deleting connection instance with peer 172.17.0.1 {isakmp=#0/ipsec=#0}
Feb  5 20:22:00.293638: "l2tp-psk"[2] 172.17.0.1 #1: Peer ID is ID_IPV4_ADDR: '192.168.43.83'
Feb  5 20:22:00.293744: "l2tp-psk"[2] 172.17.0.1 #1: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA1 group=MODP2048}
Feb  5 20:22:00.293757: "l2tp-psk"[2] 172.17.0.1 #1: Configured DPD (RFC 3706) support not enabled because remote peer did not advertise DPD support
Feb  5 20:22:00.534765: "l2tp-psk"[2] 172.17.0.1 #1: the peer proposed: 119.29.188.172/32:17/1701 -> 192.168.43.83/32:17/0
Feb  5 20:22:00.534799: "l2tp-psk"[2] 172.17.0.1 #1: NAT-Traversal: received 2 NAT-OA. Using first; ignoring others
Feb  5 20:22:00.534968: "l2tp-psk"[2] 172.17.0.1 #2: responding to Quick Mode proposal {msgid:00000001}
Feb  5 20:22:00.534979: "l2tp-psk"[2] 172.17.0.1 #2:     us: 172.17.0.2[110.152.194.162]:17/1701
Feb  5 20:22:00.534983: "l2tp-psk"[2] 172.17.0.1 #2:   them: 172.17.0.1[192.168.43.83]:17/1701
Feb  5 20:22:00.535296: "l2tp-psk"[2] 172.17.0.1 #2: sent Quick Mode reply, inbound IPsec SA installed, expecting confirmation transport mode {ESPinUDP=>0x3b761b28 <0x54ad84c2 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.43.83 NATD=172.17.0.1:56698 DPD=unsupported}
Feb  5 20:22:00.757102: "l2tp-psk"[2] 172.17.0.1 #2: IPsec SA established transport mode {ESPinUDP=>0x3b761b28 <0x54ad84c2 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.43.83 NATD=172.17.0.1:56698 DPD=unsupported}

```
- 虚机脚本vpnsetup_centos.sh脚本进行安装的。 通过frp 穿透连接。
/var/log/pluto.log
```
Feb  6 04:25:25.455758: "l2tp-psk"[3] 192.168.4.24 #3: responding to Main Mode from unknown peer 192.168.4.24:15913
Feb  6 04:25:25.455829: "l2tp-psk"[3] 192.168.4.24 #3: Oakley Transform [AES_CBC (256), HMAC_SHA1, DH20] refused
Feb  6 04:25:25.455837: "l2tp-psk"[3] 192.168.4.24 #3: Oakley Transform [AES_CBC (128), HMAC_SHA1, DH19] refused
Feb  6 04:25:25.455879: "l2tp-psk"[3] 192.168.4.24 #3: sent Main Mode R1
Feb  6 04:25:25.727020: "l2tp-psk"[3] 192.168.4.24 #3: sent Main Mode R2
Feb  6 04:25:25.893869: "l2tp-psk"[3] 192.168.4.24 #3: Peer ID is ID_IPV4_ADDR: '192.168.43.83'
Feb  6 04:25:25.893911: "l2tp-psk"[3] 192.168.4.24 #3: switched from "l2tp-psk"[3] 192.168.4.24 to "l2tp-psk"
Feb  6 04:25:25.893930: "l2tp-psk"[3] 192.168.4.24: deleting connection instance with peer 192.168.4.24 {isakmp=#0/ipsec=#0}
Feb  6 04:25:25.893941: "l2tp-psk"[4] 192.168.4.24 #3: Peer ID is ID_IPV4_ADDR: '192.168.43.83'
Feb  6 04:25:25.894023: "l2tp-psk"[4] 192.168.4.24 #3: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA1 group=MODP2048}
Feb  6 04:25:25.894031: "l2tp-psk"[4] 192.168.4.24 #3: Configured DPD (RFC 3706) support not enabled because remote peer did not advertise DPD support
Feb  6 04:25:26.096286: "l2tp-psk"[4] 192.168.4.24 #3: the peer proposed: 119.29.188.172/32:17/1701 -> 192.168.43.83/32:17/0
Feb  6 04:25:26.096333: "l2tp-psk"[4] 192.168.4.24 #3: NAT-Traversal: received 2 NAT-OA. Using first; ignoring others
Feb  6 04:25:26.096601: "l2tp-psk"[4] 192.168.4.24 #4: responding to Quick Mode proposal {msgid:00000001}
Feb  6 04:25:26.096616: "l2tp-psk"[4] 192.168.4.24 #4:     us: 192.168.4.24:17/1701
Feb  6 04:25:26.096622: "l2tp-psk"[4] 192.168.4.24 #4:   them: 192.168.4.24[192.168.43.83]:17/1701
Feb  6 04:25:26.096886: "l2tp-psk"[4] 192.168.4.24 #4: sent Quick Mode reply, inbound IPsec SA installed, expecting confirmation transport mode {ESPinUDP=>0x03776daa <0x3b0e6bfa xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.43.83 NATD=192.168.4.24:13905 DPD=unsupported}
Feb  6 04:25:26.312147: "l2tp-psk"[4] 192.168.4.24 #4: IPsec SA established transport mode {ESPinUDP=>0x03776daa <0x3b0e6bfa xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.43.83 NATD=192.168.4.24:13905 DPD=unsupported}

```

- 配置
```
[root@ipsec-vpn ~]# cat /etc/ipsec.conf
version 2.0

config setup
  logfile=/var/log/pluto.log
  virtual-private=%v4:10.0.0.0/8,%v4:192.168.4.0/24,%v4:172.16.0.0/12,%v4:!192.168.42.0/24,%v4:!192.168.43.0/24
  interfaces=%defaultroute
  uniqueids=no

conn shared
  left=%defaultroute
  leftid=192.168.4.24  # 我就修改这里
  right=%any
  encapsulation=yes
  authby=secret
  pfs=no
  rekey=no
  keyingtries=5
  dpddelay=30
  dpdtimeout=120
  dpdaction=clear
  ikev2=never
  ike=aes256-sha2,aes128-sha2,aes256-sha1,aes128-sha1,aes256-sha2;modp1024,aes128-sha1;modp1024
  phase2alg=aes_gcm-null,aes128-sha1,aes256-sha1,aes256-sha2_512,aes128-sha2,aes256-sha2
  ikelifetime=24h
  salifetime=24h
  sha2-truncbug=no

```

现象：
看日志， 我连接后就自动断开了

辛苦一下，能帮助我一下吗？ 我不知道要改哪里配置。

@Alotofwater 你好！你的两段日志都显示 VPN 连接已成功建立，并没有显示客户端随后断开连接。那个 `leftid` 对于 IPsec/L2TP 模式不太重要，不影响 VPN 连接，应该不需改动它的值。如果你的客户端在 NAT 后面，而且服务器的日志显示连接成功后马上断开，那么你很可能需要应用 Windows 错误 809 的解决方案 [1] 并重启。

[1] https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients-zh.md#windows-%E9%94%99%E8%AF%AF-809

错误的完整日志
```
Feb  6 10:54:21.475682: "l2tp-psk"[4] 192.168.4.24 #5: responding to Main Mode from unknown peer 192.168.4.24:43274
Feb  6 10:54:21.475741: "l2tp-psk"[4] 192.168.4.24 #5: Oakley Transform [AES_CBC (256), HMAC_SHA1, DH20] refused
Feb  6 10:54:21.475749: "l2tp-psk"[4] 192.168.4.24 #5: Oakley Transform [AES_CBC (128), HMAC_SHA1, DH19] refused
Feb  6 10:54:21.475779: "l2tp-psk"[4] 192.168.4.24 #5: sent Main Mode R1
Feb  6 10:54:21.776705: "l2tp-psk"[4] 192.168.4.24 #5: sent Main Mode R2
Feb  6 10:54:21.946684: "l2tp-psk"[4] 192.168.4.24 #5: Peer ID is ID_IPV4_ADDR: '192.168.4.6'
Feb  6 10:54:21.946739: "l2tp-psk"[4] 192.168.4.24 #5: switched from "l2tp-psk"[4] 192.168.4.24 to "l2tp-psk"
Feb  6 10:54:21.946768: "l2tp-psk"[4] 192.168.4.24: deleting connection instance with peer 192.168.4.24 {isakmp=#0/ipsec=#0}
Feb  6 10:54:21.946787: "l2tp-psk"[5] 192.168.4.24 #5: Peer ID is ID_IPV4_ADDR: '192.168.4.6'
Feb  6 10:54:21.946914: "l2tp-psk"[5] 192.168.4.24 #5: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA1 group=MODP2048}
Feb  6 10:54:21.946926: "l2tp-psk"[5] 192.168.4.24 #5: Configured DPD (RFC 3706) support not enabled because remote peer did not advertise DPD support
Feb  6 10:54:22.142082: "l2tp-psk"[5] 192.168.4.24 #5: the peer proposed: 119.29.188.172/32:17/1701 -> 192.168.4.6/32:17/0
Feb  6 10:54:22.142124: "l2tp-psk"[5] 192.168.4.24 #5: NAT-Traversal: received 2 NAT-OA. Using first; ignoring others
Feb  6 10:54:22.143276: "l2tp-psk"[5] 192.168.4.24 #6: responding to Quick Mode proposal {msgid:00000001}
Feb  6 10:54:22.143305: "l2tp-psk"[5] 192.168.4.24 #6:     us: 192.168.4.24:17/1701
Feb  6 10:54:22.143312: "l2tp-psk"[5] 192.168.4.24 #6:   them: 192.168.4.24[192.168.4.6]:17/1701
Feb  6 10:54:22.143628: "l2tp-psk"[5] 192.168.4.24 #6: sent Quick Mode reply, inbound IPsec SA installed, expecting confirmation transport mode {ESPinUDP=>0x549afa40 <0x5fc64cc7 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.4.6 NATD=192.168.4.24:25315 DPD=unsupported}
Feb  6 10:54:22.339576: "l2tp-psk"[5] 192.168.4.24 #6: IPsec SA established transport mode {ESPinUDP=>0x549afa40 <0x5fc64cc7 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.4.6 NATD=192.168.4.24:25315 DPD=unsupported}
Feb  6 10:54:53.972978: both sides of "l2tp-psk"[5] 192.168.4.24 are our interface eth0!
Feb  6 10:54:53.973021: "l2tp-psk"[5] 192.168.4.24: terminating SAs using this connection
Feb  6 10:54:53.973029: "l2tp-psk"[5] 192.168.4.24 #6: deleting state (STATE_QUICK_R2) aged 31.830895s and sending notification
Feb  6 10:54:53.973063: "l2tp-psk"[5] 192.168.4.24 #6: ESP traffic information: in=630B out=0B
Feb  6 10:54:53.984456: "l2tp-psk"[5] 192.168.4.24 #5: deleting state (STATE_MAIN_R3) aged 32.508782s and sending notification
Feb  6 10:54:53.984577: "l2tp-psk"[5] 192.168.4.24 #5: ERROR: asynchronous network error report on eth0 (192.168.4.24:4500), complainant 192.168.4.24: Connection refused [errno 111, origin ICMP type 3 code 3 (not authenticated)]
Feb  6 10:54:53.984671: "l2tp-psk"[5] 192.168.4.24: deleting connection instance with peer 192.168.4.24 {isakmp=#0/ipsec=#0}
Feb  6 10:54:53.984728: "l2tp-psk"[5] 192.168.4.24: route_owner: connection no longer oriented - system interface change?
Feb  6 10:54:53.998589: "l2tp-psk"[5] 192.168.4.24: unroute-host output: Device "NULL" does not exist.
Feb  6 10:54:54.004264: EXPECTATION FAILED: found_ || !(connection_valid) (in host_pair_remove_connection() at hostpair.c:423)
Feb  6 10:54:54.004288: whack error: Errno 14: Bad address
Feb  6 10:54:54.004301: EXPECTATION FAILED: c->host_pair == NULL (in connect_to_host_pair() at hostpair.c:320)
Feb  6 10:54:54.004304: whack error: Errno 14: Bad address
Feb  6 10:55:53.967318: ABORT: ASSERTION FAILED: version < elemsof(ip_types) (in ip_version_info() at ip_info.c:203)
Feb  6 10:55:53.967398: whack error: Errno 14: Bad address
Feb  6 10:55:55.081830: Initializing NSS using read-write database "sql:/etc/ipsec.d"
Feb  6 10:55:55.200262: FIPS Mode: NO
Feb  6 10:55:55.200298: NSS crypto library initialized
Feb  6 10:55:55.200329: FIPS mode disabled for pluto daemon
Feb  6 10:55:55.200333: FIPS HMAC integrity support [disabled]
Feb  6 10:55:55.200628: libcap-ng support [enabled]
Feb  6 10:55:55.200635: Linux audit support [disabled]
Feb  6 10:55:55.200638: Starting Pluto (Libreswan Version 4.2 IKEv2 IKEv1 XFRM(netkey) XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (native-PRF) SYSTEMD_WATCHDOG LIBCAP_NG AUTH_PAM NETWORKMANAGER CURL(non-NSS)) pid:2858
Feb  6 10:55:55.200641: core dump dir: /run/pluto
Feb  6 10:55:55.200644: secrets file: /etc/ipsec.secrets
Feb  6 10:55:55.200646: leak-detective enabled
Feb  6 10:55:55.200648: NSS crypto [enabled]
Feb  6 10:55:55.200650: XAUTH PAM support [enabled]
Feb  6 10:55:55.200704: initializing libevent in pthreads mode: headers: 2.0.21-stable (2001500); library: 2.0.21-stable (2001500)
Feb  6 10:55:55.200835: NAT-Traversal support  [enabled]
Feb  6 10:55:55.200979: Encryption algorithms:
Feb  6 10:55:55.200991:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
Feb  6 10:55:55.201006:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
Feb  6 10:55:55.201010:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
Feb  6 10:55:55.201014:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
Feb  6 10:55:55.201018:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP                      
Feb  6 10:55:55.201022:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
Feb  6 10:55:55.201026:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm, aes_gcm_c
Feb  6 10:55:55.201030:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_b
Feb  6 10:55:55.201034:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_a
Feb  6 10:55:55.201101:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
Feb  6 10:55:55.201119:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
Feb  6 10:55:55.201123:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
Feb  6 10:55:55.201127:   NULL               []             IKEv1:     ESP     IKEv2:     ESP                      
Feb  6 10:55:55.201131:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
Feb  6 10:55:55.201133: Hash algorithms:
Feb  6 10:55:55.201137:   MD5                               IKEv1: IKE         IKEv2:                  NSS         
Feb  6 10:55:55.201140:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
Feb  6 10:55:55.201143:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
Feb  6 10:55:55.201146:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
Feb  6 10:55:55.201150:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
Feb  6 10:55:55.201152: PRF algorithms:
Feb  6 10:55:55.201155:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              native(HMAC) md5
Feb  6 10:55:55.201159:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
Feb  6 10:55:55.201162:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
Feb  6 10:55:55.201166:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
Feb  6 10:55:55.201169:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
Feb  6 10:55:55.201172:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
Feb  6 10:55:55.201175: Integrity algorithms:
Feb  6 10:55:55.201179:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       native(HMAC) md5, hmac_md5
Feb  6 10:55:55.201183:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
Feb  6 10:55:55.201187:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
Feb  6 10:55:55.201191:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
Feb  6 10:55:55.201195:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
Feb  6 10:55:55.201198:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH                   
Feb  6 10:55:55.201205:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
Feb  6 10:55:55.201208:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
Feb  6 10:55:55.201212:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
Feb  6 10:55:55.201214: DH algorithms:
Feb  6 10:55:55.201217:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
Feb  6 10:55:55.201221:   MODP1024                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh2
Feb  6 10:55:55.201224:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
Feb  6 10:55:55.201227:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
Feb  6 10:55:55.201230:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
Feb  6 10:55:55.201233:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
Feb  6 10:55:55.201236:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
Feb  6 10:55:55.201239:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
Feb  6 10:55:55.201242:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
Feb  6 10:55:55.201245:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
Feb  6 10:55:55.201249:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
Feb  6 10:55:55.201252:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
Feb  6 10:55:55.201254: testing CAMELLIA_CBC:
Feb  6 10:55:55.201259:   Camellia: 16 bytes with 128-bit key
Feb  6 10:55:55.201345:   Camellia: 16 bytes with 128-bit key
Feb  6 10:55:55.201371:   Camellia: 16 bytes with 256-bit key
Feb  6 10:55:55.201395:   Camellia: 16 bytes with 256-bit key
Feb  6 10:55:55.201417: testing AES_GCM_16:
Feb  6 10:55:55.201423:   empty string
Feb  6 10:55:55.201451:   one block
Feb  6 10:55:55.201473:   two blocks
Feb  6 10:55:55.201495:   two blocks with associated data
Feb  6 10:55:55.201517: testing AES_CTR:
Feb  6 10:55:55.201520:   Encrypting 16 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201542:   Encrypting 32 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201564:   Encrypting 36 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201587:   Encrypting 16 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201608:   Encrypting 32 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201630:   Encrypting 36 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201652:   Encrypting 16 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201674:   Encrypting 32 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201697:   Encrypting 36 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201719: testing AES_CBC:
Feb  6 10:55:55.201722:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
Feb  6 10:55:55.201745:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201769:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201792:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201820: testing AES_XCBC:
Feb  6 10:55:55.201823:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
Feb  6 10:55:55.201919:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
Feb  6 10:55:55.202016:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
Feb  6 10:55:55.202136:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
Feb  6 10:55:55.202238:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
Feb  6 10:55:55.202330:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
Feb  6 10:55:55.202429:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
Feb  6 10:55:55.202637:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
Feb  6 10:55:55.202731:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
Feb  6 10:55:55.202829:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
Feb  6 10:55:55.202992: testing HMAC_MD5:
Feb  6 10:55:55.202996:   RFC 2104: MD5_HMAC test 1
Feb  6 10:55:55.203216:   RFC 2104: MD5_HMAC test 2
Feb  6 10:55:55.203338:   RFC 2104: MD5_HMAC test 3
Feb  6 10:55:55.203601: 1 CPU cores online
Feb  6 10:55:55.203608: starting up 1 helper threads
Feb  6 10:55:55.203648: started thread for helper 0
Feb  6 10:55:55.203659: using Linux xfrm kernel support code on #1 SMP Tue Aug 25 17:23:54 UTC 2020
Feb  6 10:55:55.204746: systemd watchdog for ipsec service configured with timeout of 200000000 usecs
Feb  6 10:55:55.204771: watchdog: sending probes every 100 secs
Feb  6 10:55:55.208798: seccomp security not supported
Feb  6 10:55:55.208969: seccomp security for helper not supported
Feb  6 10:55:55.214883: "l2tp-psk": added IKEv1 connection
Feb  6 10:55:55.215891: "xauth-psk": added IKEv1 connection
Feb  6 10:55:55.216205: listening for IKE messages
Feb  6 10:55:55.216644: Kernel does not support NIC esp-hw-offload (ETHTOOL_GSSET_INFO failed)
Feb  6 10:55:55.216757: adding UDP interface eth0 192.168.4.24:500
Feb  6 10:55:55.216781: adding UDP interface eth0 192.168.4.24:4500
Feb  6 10:55:55.216798: adding UDP interface lo 127.0.0.1:500
Feb  6 10:55:55.216815: adding UDP interface lo 127.0.0.1:4500
Feb  6 10:55:55.216833: adding UDP interface lo [::1]:500
Feb  6 10:55:55.223118: loading secrets from "/etc/ipsec.secrets"

```

> @Alotofwater 你好！你的两段日志都显示 VPN 连接已成功建立，并没有显示客户端随后断开连接。那个 `leftid` 对于 IPsec/L2TP 模式不太重要，不影响 VPN 连接，应该不需改动它的值。如果你的客户端在 NAT 后面，而且服务器的日志显示连接成功后马上断开，那么你很可能需要应用 Windows 错误 809 的解决方案 [1] 并重启。
> 
> [1] https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/clients-zh.md#windows-%E9%94%99%E8%AF%AF-809

问题笔记本通过内网 192.168.4.6。可以直接连接上，  通过公网的frp 的IP访问，就爆出以下错误
错误的完整日志
```
Feb  6 10:54:21.475682: "l2tp-psk"[4] 192.168.4.24 #5: responding to Main Mode from unknown peer 192.168.4.24:43274
Feb  6 10:54:21.475741: "l2tp-psk"[4] 192.168.4.24 #5: Oakley Transform [AES_CBC (256), HMAC_SHA1, DH20] refused
Feb  6 10:54:21.475749: "l2tp-psk"[4] 192.168.4.24 #5: Oakley Transform [AES_CBC (128), HMAC_SHA1, DH19] refused
Feb  6 10:54:21.475779: "l2tp-psk"[4] 192.168.4.24 #5: sent Main Mode R1
Feb  6 10:54:21.776705: "l2tp-psk"[4] 192.168.4.24 #5: sent Main Mode R2
Feb  6 10:54:21.946684: "l2tp-psk"[4] 192.168.4.24 #5: Peer ID is ID_IPV4_ADDR: '192.168.4.6'
Feb  6 10:54:21.946739: "l2tp-psk"[4] 192.168.4.24 #5: switched from "l2tp-psk"[4] 192.168.4.24 to "l2tp-psk"
Feb  6 10:54:21.946768: "l2tp-psk"[4] 192.168.4.24: deleting connection instance with peer 192.168.4.24 {isakmp=#0/ipsec=#0}
Feb  6 10:54:21.946787: "l2tp-psk"[5] 192.168.4.24 #5: Peer ID is ID_IPV4_ADDR: '192.168.4.6'
Feb  6 10:54:21.946914: "l2tp-psk"[5] 192.168.4.24 #5: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA1 group=MODP2048}
Feb  6 10:54:21.946926: "l2tp-psk"[5] 192.168.4.24 #5: Configured DPD (RFC 3706) support not enabled because remote peer did not advertise DPD support
Feb  6 10:54:22.142082: "l2tp-psk"[5] 192.168.4.24 #5: the peer proposed: 119.29.188.172/32:17/1701 -> 192.168.4.6/32:17/0
Feb  6 10:54:22.142124: "l2tp-psk"[5] 192.168.4.24 #5: NAT-Traversal: received 2 NAT-OA. Using first; ignoring others
Feb  6 10:54:22.143276: "l2tp-psk"[5] 192.168.4.24 #6: responding to Quick Mode proposal {msgid:00000001}
Feb  6 10:54:22.143305: "l2tp-psk"[5] 192.168.4.24 #6:     us: 192.168.4.24:17/1701
Feb  6 10:54:22.143312: "l2tp-psk"[5] 192.168.4.24 #6:   them: 192.168.4.24[192.168.4.6]:17/1701
Feb  6 10:54:22.143628: "l2tp-psk"[5] 192.168.4.24 #6: sent Quick Mode reply, inbound IPsec SA installed, expecting confirmation transport mode {ESPinUDP=>0x549afa40 <0x5fc64cc7 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.4.6 NATD=192.168.4.24:25315 DPD=unsupported}
Feb  6 10:54:22.339576: "l2tp-psk"[5] 192.168.4.24 #6: IPsec SA established transport mode {ESPinUDP=>0x549afa40 <0x5fc64cc7 xfrm=AES_CBC_256-HMAC_SHA1_96 NATOA=192.168.4.6 NATD=192.168.4.24:25315 DPD=unsupported}
Feb  6 10:54:53.972978: both sides of "l2tp-psk"[5] 192.168.4.24 are our interface eth0!
Feb  6 10:54:53.973021: "l2tp-psk"[5] 192.168.4.24: terminating SAs using this connection
Feb  6 10:54:53.973029: "l2tp-psk"[5] 192.168.4.24 #6: deleting state (STATE_QUICK_R2) aged 31.830895s and sending notification
Feb  6 10:54:53.973063: "l2tp-psk"[5] 192.168.4.24 #6: ESP traffic information: in=630B out=0B
Feb  6 10:54:53.984456: "l2tp-psk"[5] 192.168.4.24 #5: deleting state (STATE_MAIN_R3) aged 32.508782s and sending notification
Feb  6 10:54:53.984577: "l2tp-psk"[5] 192.168.4.24 #5: ERROR: asynchronous network error report on eth0 (192.168.4.24:4500), complainant 192.168.4.24: Connection refused [errno 111, origin ICMP type 3 code 3 (not authenticated)]
Feb  6 10:54:53.984671: "l2tp-psk"[5] 192.168.4.24: deleting connection instance with peer 192.168.4.24 {isakmp=#0/ipsec=#0}
Feb  6 10:54:53.984728: "l2tp-psk"[5] 192.168.4.24: route_owner: connection no longer oriented - system interface change?
Feb  6 10:54:53.998589: "l2tp-psk"[5] 192.168.4.24: unroute-host output: Device "NULL" does not exist.
Feb  6 10:54:54.004264: EXPECTATION FAILED: found_ || !(connection_valid) (in host_pair_remove_connection() at hostpair.c:423)
Feb  6 10:54:54.004288: whack error: Errno 14: Bad address
Feb  6 10:54:54.004301: EXPECTATION FAILED: c->host_pair == NULL (in connect_to_host_pair() at hostpair.c:320)
Feb  6 10:54:54.004304: whack error: Errno 14: Bad address
Feb  6 10:55:53.967318: ABORT: ASSERTION FAILED: version < elemsof(ip_types) (in ip_version_info() at ip_info.c:203)
Feb  6 10:55:53.967398: whack error: Errno 14: Bad address
Feb  6 10:55:55.081830: Initializing NSS using read-write database "sql:/etc/ipsec.d"
Feb  6 10:55:55.200262: FIPS Mode: NO
Feb  6 10:55:55.200298: NSS crypto library initialized
Feb  6 10:55:55.200329: FIPS mode disabled for pluto daemon
Feb  6 10:55:55.200333: FIPS HMAC integrity support [disabled]
Feb  6 10:55:55.200628: libcap-ng support [enabled]
Feb  6 10:55:55.200635: Linux audit support [disabled]
Feb  6 10:55:55.200638: Starting Pluto (Libreswan Version 4.2 IKEv2 IKEv1 XFRM(netkey) XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (native-PRF) SYSTEMD_WATCHDOG LIBCAP_NG AUTH_PAM NETWORKMANAGER CURL(non-NSS)) pid:2858
Feb  6 10:55:55.200641: core dump dir: /run/pluto
Feb  6 10:55:55.200644: secrets file: /etc/ipsec.secrets
Feb  6 10:55:55.200646: leak-detective enabled
Feb  6 10:55:55.200648: NSS crypto [enabled]
Feb  6 10:55:55.200650: XAUTH PAM support [enabled]
Feb  6 10:55:55.200704: initializing libevent in pthreads mode: headers: 2.0.21-stable (2001500); library: 2.0.21-stable (2001500)
Feb  6 10:55:55.200835: NAT-Traversal support  [enabled]
Feb  6 10:55:55.200979: Encryption algorithms:
Feb  6 10:55:55.200991:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
Feb  6 10:55:55.201006:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
Feb  6 10:55:55.201010:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
Feb  6 10:55:55.201014:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
Feb  6 10:55:55.201018:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP                      
Feb  6 10:55:55.201022:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
Feb  6 10:55:55.201026:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm, aes_gcm_c
Feb  6 10:55:55.201030:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_b
Feb  6 10:55:55.201034:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_a
Feb  6 10:55:55.201101:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
Feb  6 10:55:55.201119:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
Feb  6 10:55:55.201123:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
Feb  6 10:55:55.201127:   NULL               []             IKEv1:     ESP     IKEv2:     ESP                      
Feb  6 10:55:55.201131:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
Feb  6 10:55:55.201133: Hash algorithms:
Feb  6 10:55:55.201137:   MD5                               IKEv1: IKE         IKEv2:                  NSS         
Feb  6 10:55:55.201140:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
Feb  6 10:55:55.201143:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
Feb  6 10:55:55.201146:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
Feb  6 10:55:55.201150:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
Feb  6 10:55:55.201152: PRF algorithms:
Feb  6 10:55:55.201155:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              native(HMAC) md5
Feb  6 10:55:55.201159:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
Feb  6 10:55:55.201162:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
Feb  6 10:55:55.201166:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
Feb  6 10:55:55.201169:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
Feb  6 10:55:55.201172:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
Feb  6 10:55:55.201175: Integrity algorithms:
Feb  6 10:55:55.201179:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       native(HMAC) md5, hmac_md5
Feb  6 10:55:55.201183:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
Feb  6 10:55:55.201187:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
Feb  6 10:55:55.201191:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
Feb  6 10:55:55.201195:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
Feb  6 10:55:55.201198:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH                   
Feb  6 10:55:55.201205:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
Feb  6 10:55:55.201208:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
Feb  6 10:55:55.201212:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
Feb  6 10:55:55.201214: DH algorithms:
Feb  6 10:55:55.201217:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
Feb  6 10:55:55.201221:   MODP1024                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh2
Feb  6 10:55:55.201224:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
Feb  6 10:55:55.201227:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
Feb  6 10:55:55.201230:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
Feb  6 10:55:55.201233:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
Feb  6 10:55:55.201236:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
Feb  6 10:55:55.201239:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
Feb  6 10:55:55.201242:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
Feb  6 10:55:55.201245:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
Feb  6 10:55:55.201249:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
Feb  6 10:55:55.201252:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
Feb  6 10:55:55.201254: testing CAMELLIA_CBC:
Feb  6 10:55:55.201259:   Camellia: 16 bytes with 128-bit key
Feb  6 10:55:55.201345:   Camellia: 16 bytes with 128-bit key
Feb  6 10:55:55.201371:   Camellia: 16 bytes with 256-bit key
Feb  6 10:55:55.201395:   Camellia: 16 bytes with 256-bit key
Feb  6 10:55:55.201417: testing AES_GCM_16:
Feb  6 10:55:55.201423:   empty string
Feb  6 10:55:55.201451:   one block
Feb  6 10:55:55.201473:   two blocks
Feb  6 10:55:55.201495:   two blocks with associated data
Feb  6 10:55:55.201517: testing AES_CTR:
Feb  6 10:55:55.201520:   Encrypting 16 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201542:   Encrypting 32 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201564:   Encrypting 36 octets using AES-CTR with 128-bit key
Feb  6 10:55:55.201587:   Encrypting 16 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201608:   Encrypting 32 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201630:   Encrypting 36 octets using AES-CTR with 192-bit key
Feb  6 10:55:55.201652:   Encrypting 16 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201674:   Encrypting 32 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201697:   Encrypting 36 octets using AES-CTR with 256-bit key
Feb  6 10:55:55.201719: testing AES_CBC:
Feb  6 10:55:55.201722:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
Feb  6 10:55:55.201745:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201769:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201792:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
Feb  6 10:55:55.201820: testing AES_XCBC:
Feb  6 10:55:55.201823:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
Feb  6 10:55:55.201919:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
Feb  6 10:55:55.202016:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
Feb  6 10:55:55.202136:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
Feb  6 10:55:55.202238:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
Feb  6 10:55:55.202330:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
Feb  6 10:55:55.202429:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
Feb  6 10:55:55.202637:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
Feb  6 10:55:55.202731:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
Feb  6 10:55:55.202829:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
Feb  6 10:55:55.202992: testing HMAC_MD5:
Feb  6 10:55:55.202996:   RFC 2104: MD5_HMAC test 1
Feb  6 10:55:55.203216:   RFC 2104: MD5_HMAC test 2
Feb  6 10:55:55.203338:   RFC 2104: MD5_HMAC test 3
Feb  6 10:55:55.203601: 1 CPU cores online
Feb  6 10:55:55.203608: starting up 1 helper threads
Feb  6 10:55:55.203648: started thread for helper 0
Feb  6 10:55:55.203659: using Linux xfrm kernel support code on #1 SMP Tue Aug 25 17:23:54 UTC 2020
Feb  6 10:55:55.204746: systemd watchdog for ipsec service configured with timeout of 200000000 usecs
Feb  6 10:55:55.204771: watchdog: sending probes every 100 secs
Feb  6 10:55:55.208798: seccomp security not supported
Feb  6 10:55:55.208969: seccomp security for helper not supported
Feb  6 10:55:55.214883: "l2tp-psk": added IKEv1 connection
Feb  6 10:55:55.215891: "xauth-psk": added IKEv1 connection
Feb  6 10:55:55.216205: listening for IKE messages
Feb  6 10:55:55.216644: Kernel does not support NIC esp-hw-offload (ETHTOOL_GSSET_INFO failed)
Feb  6 10:55:55.216757: adding UDP interface eth0 192.168.4.24:500
Feb  6 10:55:55.216781: adding UDP interface eth0 192.168.4.24:4500
Feb  6 10:55:55.216798: adding UDP interface lo 127.0.0.1:500
Feb  6 10:55:55.216815: adding UDP interface lo 127.0.0.1:4500
Feb  6 10:55:55.216833: adding UDP interface lo [::1]:500
Feb  6 10:55:55.223118: loading secrets from "/etc/ipsec.secrets"

```

@Alotofwater 你的用例看起来有些特殊。我对 frp 内网穿透不太了解，没有用过。从你的日志来看，Libreswan 检测到你的 VPN 的两端均为 eth0 网络接口，见下面的日志部分：
```
Feb  6 10:54:22.143305: "l2tp-psk"[5] 192.168.4.24 #6:     us: 192.168.4.24:17/1701
Feb  6 10:54:22.143312: "l2tp-psk"[5] 192.168.4.24 #6:   them: 192.168.4.24[192.168.4.6]:17/1701
... ...
Feb  6 10:54:53.972978: both sides of "l2tp-psk"[5] 192.168.4.24 are our interface eth0!
```

检测到这个之后报错并终止连接。具体原因我也不清楚，是不是 Libreswan 与你的这个用例不兼容？我觉得你可以到 Libreswan 用户邮件列表 [1] 或者到这里 [2] 开一个 Issue 问一下开发者的建议。

[1] https://lists.libreswan.org/mailman/listinfo/swan
[2] https://github.com/libreswan/libreswan

谢谢哈。 

> @Alotofwater 你的用例看起来有些特殊。我对 frp 内网穿透不太了解，没有用过。从你的日志来看，Libreswan 检测到你的 VPN 的客户端和服务器端都是在 eth0 网络接口上，见下面的日志部分：
> 
> ```
> Feb  6 10:54:22.143305: "l2tp-psk"[5] 192.168.4.24 #6:     us: 192.168.4.24:17/1701
> Feb  6 10:54:22.143312: "l2tp-psk"[5] 192.168.4.24 #6:   them: 192.168.4.24[192.168.4.6]:17/1701
> ... ...
> Feb  6 10:54:53.972978: both sides of "l2tp-psk"[5] 192.168.4.24 are our interface eth0!
> ```
> 
> 检测到这个之后报错并终止连接。相关代码在这里 [1]。具体原因我也不清楚，是不是 Libreswan 与你的这个用例不兼容？我觉得你可以到 Libreswan 用户邮件列表 [2] 或者到这里 [3] 开一个 Issue 问一下开发者的建议。
> 
> [1] https://github.com/libreswan/libreswan/blob/c6307fa1619bd29567658270c19753f3cccd8abc/programs/pluto/initiate.c#L211
> [2] https://lists.libreswan.org/mailman/listinfo/swan
> [3] https://github.com/libreswan/libreswan


大牛你好， 我想问一下，docker启动的 ipsec-vpn （hwdsl2/ipsec-vpn-server）， 可以进入内网， 但是内网没办法连接客户机的端口， 这个有办法解决吗？ 能给一个方案吗？ 谢谢了。 

@Alotofwater 对于这个用例，你可以试一下 host network 模式，看这里 [1]。不过具体是否能连接客户端的端口我没有测试过。

[1] https://github.com/hwdsl2/docker-ipsec-vpn-server/blob/master/README-zh.md#%E5%85%B3%E4%BA%8E-host-network-%E6%A8%A1%E5%BC%8F

@hwdsl2 
这个我试过，和现在情况一下。如果我用docker能正常连接，我猜测是因为 公网Frp 连接到 容器时候，docker-proxy ， 映射端口到容器里， 这时候 ipsec-vpn 获取的客户端地址容器内网地址了， 所以没报错。  我在想Frp公网连接到内网宿主机 ipsec-vpn 服务器时候， 把外网ip地址用iptables改写成内网地址。  （net 表 PREROUTING链） 改写可以吗？

@Alotofwater 这个我不太清楚，感觉好像不可行。你自己再试一下？

感谢你的帮助。
弄一天， 我又换回openvpn了， 也实现了客户端到内网所有机器网络通畅。 内网所有机器到客户机网络通畅。 也能在自己笔记本做代码调试了。 总算可以不用在自己笔记本电脑上开那么多服务了。 把家里台式机当作自己开发环境。 以后带着笔记本，去哪都能调试代码了，方便多了。  
frp + openvpn 打通网络环境， (代码环境：go-micro + etcd + redis + mysql + k8s + jenkins + gitea(代码仓库)) 