Get Server IP two different ip addresses

Why are the two IP addresses different? I checked part of the code and used this interface: get_server_ip The ip address obtained is xxx.xxx.xxx.178. Is there any other api interface to obtain the ip address? Is it

## Code 
```bash
get_server_ip() {
  use_default_ip=0
  public_ip=${VPN_PUBLIC_IP:-''}
  check_ip "$public_ip" || get_default_ip
  check_ip "$public_ip" && { use_default_ip=1; return 0; }
  bigecho "Trying to auto discover IP of this server..."
  check_ip "$public_ip" || public_ip=$(dig @resolver1.opendns.com -t A -4 myip.opendns.com +short)
  check_ip "$public_ip" || public_ip=$(wget -t 2 -T 10 -qO- http://ipv4.icanhazip.com)
  check_ip "$public_ip" || public_ip=$(wget -t 2 -T 10 -qO- http://ip1.dynupdate.no-ip.com)
}
```

## Bash
```log
➜  ~ dig @resolver1.opendns.com -t A -4 myip.opendns.com +short

➜  ~ curl http://ipv4.icanhazip.com
xxx.xxx.xxx.178

➜  ~ curl http://ipv4.icanhazip.com
xxx.xxx.xxx.178
```
## Log

```diff
================================================

IPsec VPN server is now ready for use!

Connect to your new VPN with these details:

-- Server IP: xxx.xxx.xxx.178
IPsec PSK: xxxxxx
Username: xxxxxxxx
Password: xxxxxx
pluto[399]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
pluto[399]: testing AES_XCBC:
pluto[399]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
pluto[399]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
pluto[399]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input

Write these down. You'll need them to connect!

VPN client setup: https://vpnsetup.net/clients2

================================================
pluto[399]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
pluto[399]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
pluto[399]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
pluto[399]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
pluto[399]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
pluto[399]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
pluto[399]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
pluto[399]: testing HMAC_MD5:
pluto[399]:   RFC 2104: MD5_HMAC test 1

================================================

IKEv2 is already set up. Details for IKEv2 mode:

pluto[399]:   RFC 2104: MD5_HMAC test 2
pluto[399]:   RFC 2104: MD5_HMAC test 3
pluto[399]: testing HMAC_SHA1:
++ VPN server address: xxx.xxx.xxx.180
VPN client name: xxxxxxx

Client configuration is available inside the
pluto[399]:   CAVP: IKEv2 key derivation with HMAC-SHA1
Docker container at:
/etc/ipsec.d/xxxxxxx.p12 (for Windows & Linux)
/etc/ipsec.d/xxxxxxx.sswan (for Android)
/etc/ipsec.d/xxxxxxx.mobileconfig (for iOS & macOS)

Next steps: Configure IKEv2 clients. See:
pluto[399]: 4 CPU cores online
pluto[399]: starting up 3 helper threads
pluto[399]: started thread for helper 0
pluto[399]: helper(1) seccomp security for helper not supported
pluto[399]: started thread for helper 1
https://vpnsetup.net/clients2

================================================

pluto[399]: started thread for helper 2
pluto[399]: helper(3) seccomp security for helper not supported
```

@Ran-Xing Hello! Yes, the `get_server_ip` function is used to find the server's public IP address. If you also set up IKEv2 at the time of installing the VPN, which is the default, that IP is then passed into the `ikev2.sh` script to set up IKEv2. The two IP addresses you mentioned (for IKEv1 and IKEv2, respectively) should match.

Not sure why these IPs don't match in your use case, but you can fix it by [changing the IKEv2 server address](https://github.com/hwdsl2/setup-ipsec-vpn/blob/master/docs/ikev2-howto.md#change-ikev2-server-address), or alternatively, uninstall the VPN (see README) and re-install.

@hwdsl2 tks，Can you tell me through which interfaces he obtains the local ip? I need to add a whitelist to these interfaces, because I installed openwrt, the local real ip will change

@hwdsl2这个issues

@hwdsl2 可能我被墙了吧，但是奇怪我终端有日志
